# Ignorar archivos de entorno
.env

# Ignorar entornos virtuales
venv/
.venv/

# Ignorar archivos de configuración de IDEs
*.vscode/
.idea/

# Ignorar archivos de bases de datos
*.sqlite3

# Ignorar archivos de log y temporales
*.log
*.tmp
